body {
    min-height: 100vh;
    background: linear-gradient(135deg, #242443, #2b2b45);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #fff;
}

i{
    border-radius: 2em;
    padding: 22px;
    background: linear-gradient(135deg, #1e1e2f, #2b2b45);
    margin-top: 35px;
}


main {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 380px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    margin-top: 70px;
}

main h1 {
    margin-bottom: 30px;
    font-family: "Playfair Display", serif;
    letter-spacing: 2px;
}

    main h2{
        font-size: 20px;
    }

main input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
}

main input:focus {
    outline: 2px solid #00ffd5;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    background: #00ffd5;
    color: #000;
    transition: background 0.3s;
}
